doctype html
html(lang="ru-RU")

    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        link(rel="stylesheet" type='text/css' href="static/css/main.css")
        link(rel="stylesheet" type='text/css' href="static/css/fontawesome.css")
        script(src="static/js/bootstrap.min.js")
        script(src="static/js/fontawesome.all.min.js")
        title Templates 9
    body

            header
                .container
                    .row
                        div(class="dropdown-list")
                            h3 Для Мужчин
                        div(class="dropdown-list")
                            h3 Для Женщин
                        div(class="dropdown-list")
                            h3 Для Детей
                        div(class="dropdown-list")
                            .row
                                img(src="static/img/header/logo.png" alt="Логотип")
                                h1 the loop
                        div(class="")
                            a(href="#")
                                h3 Оплата
                        div(class="")
                            a(href="#")
                                h3 Доставка
                        div(class="")
                            a(href="#")
                               .row
                                    img(src="static/img/header/car.png")
                                    img(src="static/img/header/count.png")
            div(class="")
                .row
                    div(class="")
                        h3 Зимняя распродажа
                        h2 Скидки до 90%
                        a(href="")
                            p Смотреть модели
                    div(class="")
                        h3 9 900 ₽
                        h2 1900 ₽
            div(class="")
                .row
            div(class="")
                h2 Бесплатная доставка от 3000₽
                h3 Сделайте заказ и получите подарок

    script(src="static/js/libs.min.js")
    script(src="static/js/main.js")

