@import "fonts.styl"
@import "libs.styl"
.container
  padding 0
  .row
    margin 0
    padding 0

.slider-item
  background-color #ccc
  width 500px
  height 200px
  padding 20px
  margin 0 20px
body
  font-family Montserrat
footer
  background-color #4A4646
  color #FFFDFD
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  -webkit-justify-content: space-around; /* Safari */
  justify-content: space-around;
  h5
    font-size 14pt
    color #D0CCCC



