@import "fonts.styl"
@import "libs.styl"
.container
  padding 0
  .row
    margin 0
    padding 0

.slider-item
  background-color #ccc
  width 500px
  height 200px
  padding 20px
  margin 0 20px
body
  font-family Montserrat
.header-menu-top
  font-family "Roboto"
  padding-top 20px
  margin-bottom 20px
  a
    text-decoration none
    color #8D8A8A
    &:hover
      color #A97A00
  .cities
    padding-top 5px
    margin-right 162px
    color #8D8A8A
    text-transform capitalize
    font-size 14pt
  .soiskatel
    margin-right 27px
    font-size 18pt
.create
  margin-left 30%
.header-menu
  padding-top 20px
  padding-bottom 20px
  background-color #53B2D0
  width 100%

  h1
    color #DC5252
    padding-left 5px
    padding-top 20px
    font-size 24pt

  .login
    margin-right 20px
    text-decoration none
    color #FFFDFD
    padding-top 20px
    &:hover
      color #A97A00

.banner
  height: 500px;
  background-image url("../img/banner.png")
  background-position top
  background-size cover
  background-repeat no-repeat
.find
  padding-top 15%
  padding-left 15%
  h3
    font-size 26pt
    color #FFFFFF
  input
    padding-left 20px
    border-radius 50px 0 0 50px
    height 33px
    border 0
    &::-moz-placeholder { color: #1a1b22; }
    &::-webkit-input-placeholder { color: #1a1b22; }
  button
    border 0
    border-radius 0 50px 50px 0
    background-color #60BCFF
footer
  background-color #4A4646
  .footer
      color #FFFDFD
      display: -webkit-flex; /* Safari */
      display: flex;
      -webkit-flex-wrap: wrap; /* Safari */
      flex-wrap: wrap;
      -webkit-justify-content: space-around; /* Safari */
      justify-content: space-around;
  h5
    font-size 14pt
    color #D0CCCC
  .social
    img
     width 40px
     margin-left 15px
.break
  flex-basis 100%
  height 0



